#project-header, #project-tasks-header{
    background-color: #557996;
    color:#fff;
}

.project-subtitle{
    /*background-color: #131c46;*/
    padding: .5em;
    border: .1em solid #fff;
    color: #131c46;
}

#project-info{
    padding:0;
}

#project-header-row{
    margin: 0 !important;
    flex-wrap: nowrap !important;
}

#buttons-col{
    margin:0 !important;
    padding:0 !important;
}

.button-group{
    padding: 0 !important;
}

.project-value{
    background-color: #efefef;
    padding: .5em;
    margin: 0 !important;
}

#task-row{
    margin-top: 2em;
}